@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";
@import "flowbite/src/themes/default";




@theme {
  /* Colours */
  --color-brand-50:  #f8f5ff;
  --color-brand-100: #eee4ff;
  --color-brand-300: #c9b8ff;
  --color-brand-500: #9773B3;
  --color-brand-600: #DDD4E3;
  --color-brand-700: #6a4acb;

  --color-accent-500: #f9a7b3;

  --color-text-900: #0e0e0e;
  --color-text-600: #4a4a4a;

  /* Fonts */
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --radius-2xl: 48px;

  /* Spacing */
  --spacing-6: 1.5rem;
  --spacing-10: 2.5rem;
  --spacing-20: 5rem;
  --spacing-hero: 7rem;

    /* Custom hero image sizing */
    --size-w-hero: 517px;
    --size-h-hero: 517px;


  /* Type scale */
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
}


@utility card-shadow {
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}


@utility header-shadow {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  }