@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";
@import "flowbite/src/themes/default";

@theme {
  /* Colours */
  --color-brand-50:  #f8f5ff;   /*light pink */
  --color-brand-100: #eee4ff;   /*light purple */
  --color-brand-300: #c9b8ff;   /*purple */
  --color-brand-500: #9773B3;     /*dark purple */
  --color-brand-600: #DDD4E3;   /*light grey */
  --color-brand-700: #6a4acb;  /*dark blue purple */

  --color-accent-500: #f9a7b3;  /*soft pink */

  --color-text-900: ##999999;   /*light grey */
  --color-text-600: #4a4a4a;  /*dark grey */

  /* Fonts */
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;

  /* Radii */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --radius-2xl: 48px;

  /* Spacing */
  --spacing-6: 1.5rem;
  --spacing-10: 2.5rem;
  --spacing-20: 5rem;
  --spacing-hero: 7rem;

  /* Custom hero image sizing */
  --size-w-hero: 517px;
  --size-h-hero: 517px;

  /* Type scale */
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;

  --background-image-soft: linear-gradient(to bottom, #F8F6FA, #F3E8FF);
}

@utility card-shadow {
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

@utility header-shadow {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

@utility h-carousel-sm {
  height: 26rem;
}

@utility h-carousel-md {
  height: 29rem;
}

@utility h-carousel-lg {
  height: 30rem;
}



@layer components {
  .section-testimonials {
    @apply px-6 sm:px-12 py-20 bg-white;
  }

  .section-heading {
    @apply text-brand-500 text-4xl md:text-5xl font-normal leading-snug text-center max-w-4xl mx-auto mt-10 mb-16;
  }

  .testimonial-row {
    @apply flex flex-col md:flex-row items-center justify-center gap-8 max-w-[1200px] px-4 sm:px-8;
  }

  .testimonial-avatar {
    @apply w-64 h-64 rounded-xl overflow-hidden shadow-md;
  }

  .testimonial-caption {
    @apply mt-4 text-center text-text-600 text-lg;
  }
  

  .testimonial-quote {
    @apply mt-6 text-2xl text-text-600 font-light leading-relaxed max-w-lg;
  }

  /* Research cards section */
  .section-research {
    @apply px-6 sm:px-12 py-20 ;
  }

  .research-heading {
    @apply text-brand-500 text-4xl md:text-5xl font-normal leading-snug text-center max-w-4xl mx-auto mb-24;
  }

  .research-grid {
    @apply max-w-6xl mx-auto grid gap-10 md:grid-cols-2;
  }

  .research-card {
    @apply bg-white rounded-2xl px-6 py-8 shadow-md;
  }

  .research-image {
    @apply w-full h-56 rounded-xl overflow-hidden mb-6;
  }

  .research-title {
    @apply text-brand-500 text-2xl font-semibold mb-4;
  }

  .research-body {
    @apply text-text-600 text-lg md:text-xl leading-relaxed font-light max-w-xl
  }

}
